/* @import "bootstrap/dist/css/bootstrap.min.css"; */
@import "leaflet/dist/leaflet.css";
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));


body{
    overflow-x: hidden;

}

body::-webkit-scrollbar {
  display: none;
}

/* Default CSS Overried */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

a{
    text-decoration: none !important;
}
input:focus{
   outline:none !important;
}


.css-t3ipsp-control{
    border-color: rgb(200, 197, 197) !important;
    box-shadow:  none !important;
}
.react-tooltip {
  z-index: 9999999 !important;
}
/* END Default CSS Overried */

/* Button CSS */
button{
    cursor: pointer;
}
.cursor-default{
   cursor: default  !important;
}
/* End Button CSS */
/* RegisterPage CSS */
.register-form-page{
    background-image: url('../asset/image/element/register-bg.png');
}
/* End RegisterPage CSS*/
/* Toast CSS */
.toast{
    color:white !important;
    font-size: 1.2vw;
    background-color: black !important;
    border-radius: 30vw !important;
}
/* End Toast CSS */

