/* @import "bootstrap/dist/css/bootstrap.min.css"; */
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

/* Default CSS Overried */
a{
    text-decoration: none !important;
}
input:focus{
   outline:none !important;
}
/* END Default CSS Overried */

/* Button CSS */
button{
    cursor: pointer;
}
.cursor-default{
   cursor: default  !important;
}
/* End Button CSS */
/* RegisterPage CSS */
.register-form-page{
    background-image: url('../asset/image/element/register-bg.png');
}
/* End RegisterPage CSS*/
/* Toast CSS */
.toast{
    color:white !important;
    font-size: 1.2vw;
    background-color: black !important;
    border-radius: 30vw !important;
}
/* End Toast CSS */

