@media screen and (min-width: 1920px) {
 
}
@media screen and (min-width: 1820px) and (max-width: 1920px) {
 
}
@media screen and (max-width: 1660px) {
 
}
@media screen and (max-width: 1580px) {

}

@media screen and (max-width: 1480px) {
 
}

@media screen and (max-width: 1230px) {

}
@media screen and (max-width: 1024px) {
  
}
@media screen and (max-width: 992px) {
 
}
@media screen and (max-width: 768px) {
 
}
@media screen and (max-width: 690px) {
}
@media screen and (max-width: 575px) {
  .register-form-page{
    background-image: none !important;
    background-color:#791DC0 ;
}
.toast{
    color:white !important;
    font-size: 4vw;
    background-color: black !important;
    border-radius: 30vw !important;
}
}
